<div [ngClass]="currentTheme">
    <div class="container end-align">
        <a href="https://www.linkedin.com/in/bhavnapatel99" target="_blank" class="icon-link"><i
                class="fab fa-linkedin icon"></i></a>
        <a href="https://github.com/erbhavnapatel" target="_blank" class="icon-link"><i
                class="fab fa-github icon"></i></a>
        <a href="https://leetcode.com/u/erbhavnapatel" target="_blank" class="icon-link"><i
                class="fab fa-gg-circle icon"></i></a>
    </div>
    <div class="container start-align top-pad">
        <button (click)="toggleTheme()">Switch Theme</button>
    </div>
</div>